<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/slick/slick.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/scrollbar.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>